* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e1e4f5;
  padding: 20px;
}

.paint-container {
  background-color: white;
  border-radius: 8px;
  margin: 20px;
}

.paint__tool-bar button {
  background-color: #d1ede4;
  padding: 6px 18px;
  margin-right: 5px;
  border-radius: 6px;
  color: #272b2a;
  font-size: 14px;
  border: 1px solid #272b2a;
}

.tools {
  display: flex;
  padding: 5px;
  border-radius: px;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: white;
}

.tools__item {
  background-color: #d1ede4;
  padding: 6px 18px;
  margin-right: 5px;
  border-radius: 6px;
  color: #272b2a;
  font-size: 14px;
}
.item__label {
  cursor: pointer;
}

.item-active {
  background-color: #137554;
  color: white;
}

.paint-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  overflow: visible;
}

.paint-canvas {
  border: 2px solid;
  margin: 20px;
}
